.tech-stack-container {
	margin: 50px auto 50px;

	.stack-icons {
		display: inline-block;
		margin: 12px;

		svg {
			width: 35px;
			height: 35px;
		}
	}

	.stack-desc {
		width: 200px;
		height: auto;
		padding: 10px;
		position: absolute;
	}
}

.toolTip {
	position: absolute;
	max-width: 235px;
	background: #fff;
	color: #000;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 0.9em;
}
