$violet_color: #363d4f;
/*.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.4;
}*/
.header-navbar {
	//background: rgba(180, 180, 180, 0.3);
	// background-color: #415b7c;
	// background-color: #133054;
	background-color: #113b5e;
	// background-color: rgba(35, 100, 168, 0.1);
	box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.3);
	position: fixed;
	width: 100%;
	left: 0px;
	z-index: 10;
	transition: padding 0.6s ease;

	#shrinkHeader {
		transition: 0.8s ease-out, padding 0.8s ease-out;
	}

	.smaller {
		padding: 0.01rem 1rem !important;
	}
}

// .header-navbar.shrink {
// 	background-color: #415b7c;
// }

#navbarNav {
	place-content: flex-end;
}
.quick-links {
	.nav-link {
		padding-right: 1rem !important;
		font-size: 14px;
	}
}
header {
	position: relative;
	// height: 596px;
	// overflow: hidden;
	// background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-90/animated-svg-bg.svg');
	background-image: url('../../assets/images/header-bg.svg');
	// background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	// background-attachment: fixed;

	.banner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		.intro-text {
			font-size: 1em;
		}
		.intro-text-desc {
			font-size: 2em;
		}

		.hire {
			// margin-top: 20px;
			&:hover {
				opacity: 0.9;
			}
		}
		// h1 {
		// 	padding-top: 200px;

		// }
	}

	.btn-down {
		position: absolute;
		bottom: 45px;
		left: 50%;
		transform: translateX(-50%);
	}
	// &::before {
	// 	content: '';
	//   position: absolute;
	//   top: 0;
	//   left: 0;
	//   right: 0;
	//   bottom: 0;
	// 	box-shadow: inset 0 0 2000px rgba(0, 0, 0, .5);
	//   filter: blur(1px);
	// 	background: inherit;
	// }
}

@media (max-width: 576px) {
	header {
		background-position: 10%;
		height: 300px !important;
		.btn-down {
			bottom: 15px;
		}
		.banner {
			.intro-text-desc {
				font-size: 1.5em;
			}
			.hire {
				font-size: 0.8em;
			}
		}
		.scroll-bottom {
			svg {
				width: 30px;
				height: 30px;
			}
		}
	}
	// .loading {
	// 	animation: loading 10s infinite cubic-bezier(0.18, 0.89, 0.32, 1.28);
	// }

	// @keyframes loading {
	// 	0% {
	// 		background-position: 0 0;
	// 	}
	// 	100% {
	// 		background-position: -100% 0;
	// 	}
	// }
}

// 	@-moz-keyframes loading {
// 		0% {
// 			background-position: 0 0;
// 		}
// 		100% {
// 			background-position: -100% 0;
// 		}
// 	}

// 	@-webkit-keyframes "loading" {
// 		0% {
// 			background-position: 0 0;
// 		}
// 		100% {
// 			background-position: -100% 0;
// 		}
// 	}

// 	@-ms-keyframes "loading" {
// 		0% {
// 			background-position: 0 0;
// 		}
// 		100% {
// 			background-position: -100% 0;
// 		}
// 	}

// 	@-o-keyframes "loading" {
// 		0% {
// 			background-position: 0 0;
// 		}
// 		100% {
// 			background-position: -100% 0;
// 		}
// 	}
// }
