.bg-separator {
	height: 380px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.5;
}

@media (max-width: 576px) {
	.bg-separator {
		height: 150px;
	}
}
